.heading1{
    text-align: center;
}
.select{
    width: 100px;
    border: 1px solid white;
    margin: auto;
}
.container{
    width: 400px;
    /* height: 400px; */
    border: 1px dotted white;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}